mixin items()
  +b.items
    +e.title
      +e.P.title-text НАШЕ ОБОРУДОВАНИЕ

    +e.container
      +e.row
        +e.card
          +e.card-text ТЕОДОЛИТ ЭЛЕКТРОННЫЙ RGK T-05
          +e.item--item1
        +e.card
          +e.card-text ШТАНГЕНЦИРКУЛЬ ДВУСТОРОННИЙ С ГЛУБИНОМЕРОМ
          +e.item--item2
        +e.card
          +e.card-text ТОЛЩИНОМЕР - НАБОР ЩУПОВ. FEELER GAUGE, METRIC
          +e.item--item3

      +e.row
        +e.card
          +e.card-text ЛАЗЕРНЫЙ ДАЛЬНОМЕР «DISTO D2
          +e.item--item4
        +e.card
          +e.card-text ПРИБОР ДЛЯ ОПРЕДЕЛЕНИЯ ПРОЧНОСТИ БЕТОНА ORIGINAL SCHMID
          +e.item--item5
        +e.card
          +e.card-text РУЛЕТКА МЕТАЛЛИЧЕСКАЯ GEOBOX
          +e.item--item6

      +e.row
        +e.card
          +e.card-text ПРИБОР ИЗМЕРЕНИЯ РАСПРОСТРАНЕНИЯ УЛЬТРАЗВУКА «ПУЛЬСАР-2М»
          +e.item--item7
        +e.card
          +e.card-text ПРИБОР ОПРЕДЕЛЕНИЯ ПРОЧНОСТИ БЕТОНА «ОНИКС-1
          +e.item--item8
        +e.card
          +e.card-text ИЗМЕРИТЕЛЬ ТОЛЩИНЫ ЗАЩИТНОГО СЛОЯ БЕТОНА «PROFOSCOPE
          +e.item--item9

      +e.row
        +e.card
          +e.card-text ИЗМЕРИТЕЛЬ ВЛАЖНОСТИ TESTO 616
          +e.item--item10
