mixin header()
  +b.header
    +e.container
      +e.wrapper
        +e.logo
          +e.IMG(src="../assets/images/logo.png").logo-img

        +e.info
          +e.P.info-text ПРОЕКТИРОВАНИЕ
          +e.P.info-text ИНЖЕНЕРНЫЕ ИЗЫСКАНИЯ
          +e.P.info-text ЭКСПЕРТИЗА В СТРОИТЕЛЬСТВЕ

      +e.contacts
        +e.logo2
          +e.IMG(src="../assets/images/logo2.png").logo2-img
        +e.block
          +e.P.text--bold ДОПУСКИ СРО
          +e.P.text СРО-П-195-15092017
          +e.P.text СРО-И-020-11012010
        +e.block
          +e.P.text пр-т Ворошиловский 2/2,
          +e.P.text оф. 301а-305 (3й этаж)
        +e.block
          +e.P.text 8 (863) 256 79 45
          +e.P.text 8 (988) 943 56 62
        +e.block
          +e.P.text E-mail:
          +e.P.text stroiexpert.info@mail.ru