.header
  background: #c6d0e0;
  position relative
  padding 25px 0

  &__container
    display flex
    align-items center
    padding 0 20px
    max-width 1380px
    margin 0 auto

    @media(max-width: 1900px)
      margin-left 295px
      margin-right auto
    @media(max-width: 1400px)
      margin 0 auto

  &__wrapper
    display flex
    align-items center
    justify-content: space-between
    width 100%

    @media(max-width: 1400px)
      margin-top 20px

    @media(max-width: 900px)
      flex-direction row
      align-items center
      flex-wrap wrap

    @media(max-width: 660px)
      align-items baseline

    @media(max-width: 400px)
      flex-direction column
      align-items center

  &__contacts
    display flex
    align-items center
    justify-content space-between

    @media(max-width: 1400px)
      margin-top 20px

    @media(max-width: 900px)
      display flex
      flex-direction column
      margin-top 10px


  &__info
    @media (max-width: 1400px)
      position absolute
      right 20px
      top 22px
    @media(max-width: 660px)
      position static
      text-align center
      margin 0 auto
      margin-bottom 20px

  &__info-text,
  &__text
    margin 0
    padding 0
    white-space nowrap

  &__info-text
    font-family ProximaNova-Extrabold
    font-size 22px
    @media(max-width: 660px)
      font-size 18px

  &__text
    line-height 1
    &--bold
      font-family ProximaNova-Bold

  &__logo
    width 205px
    height 95px
    flex-shrink 0
    position absolute
    left 40px
    top 25px
    @media(max-width: 1400px)
      position relative
      top -10px
      left 20px

    @media(max-width: 900px)
      margin 0

    @media(max-width: 660px)
      position static
      margin 0 auto

    img
      width 100%

  &__logo2
    margin-right 10px

    @media(max-width: 900px)
      margin 0
      margin-bottom 10px

    @media(max-width: 660px)
      display none

  &__block
    @media(max-width: 900px)
      width 50%

    @media(max-width: 400px)
      width 100%

    &--logo
      display flex
      align-items center

    @media(max-width: 900px)
      text-align center
      justify-content center
    & + &
      // margin-left 45px
      @media(max-width: 900px)
        margin 0
        margin-top 10px
