.footer
  background #111c34
  padding 50px 40px

  @media(max-width: 900px)
    padding 20px

  &__column
    width 33%

    @media(max-width: 900px)
      width 100%

      & + &
        margin-top 30px

    &--nav
      padding-left 50px

      @media(max-width: 900px)
        padding 0

  &__title
    font-size 20px
    color #fff
    font-family ProximaNova-Bold
    margin-bottom 20px

  &__text
    color #a7a7a7

  &__btn-wrap
    margin-top 20px
    position relative
    display flex

  &__wrapper
    display flex

    @media(max-width: 900px)
      flex-direction column
      align-items center

  &__list
    list-style-type none
    padding 0

  &__list-item
    & + &
      margin-top 10px

    &--last
      & + &
        margin-top 20px

  &__link
    color #fff
    transition all 0.3s ease
    &:hover
      text-decoration none

  &__value
    color #fff
    font-weight 600
