.navigation
  background #ffffff
  padding 30px 0 40px

  &__container
    max-width 1340px
    margin 0 auto
    padding 0 20px

  &__list
    list-style-type none
    display flex
    justify-content space-between
    margin 0
    padding 0

    @media(max-width: 900px)
      display flex
      flex-direction row
      flex-wrap wrap
      align-items center

    @media(max-width: 450px)
      flex-direction column

  &__list-item
    @media(max-width: 900px)
      width 50%
      text-align center
    @media(max-width: 450px)
      width 100%
    & + &
      @media(max-width: 900px)
        margin-top 25px

  &__link
    font-family ProximaNova-Extrabold
    color #021631
    position relative
    transition all 0.3s ease

    &:before
      content ''
      position absolute
      width 1px
      height 2px
      background linear-gradient(90deg, rgba(255,113,0,1) 0%, rgba(255,177,42,1) 100%)
      left 50%
      bottom -10px
      opacity 0
      transition all 0.3s ease

    &:hover
      text-decoration none

      &:before
        left 0
        width 100%
        opacity 1
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
          width 0

  &__link-btn
    background linear-gradient(90deg, rgba(255,113,0,1) 0%, rgba(255,177,42,1) 100%)
    padding 16px 20px 12px
    border-radius 30px
    color #fff
    font-family ProximaNova-Bold
    transition all 0.3s ease
    &:hover
      text-decoration none
      color #fff
      opacity 0.6
