mixin navigation()
  +b.navigation
    +e.container
      +e.UL.list
        +e.LI.list-item
          +e.A(href="#").link О КОМПАНИИ
        +e.LI.list-item
          +e.A(href="#").link ПРИНЦИП РАБОТЫ
        +e.LI.list-item
          +e.A(href="#").link ЦЕНЫ
        +e.LI.list-item
          +e.A(href="#").link КВАЛИФИКАЦИЯ
        +e.LI.list-item
          +e.A(href="#").link КОНТАКТЫ
        +e.LI.list-item
          +e.A(href="#").link-btn ЗАКАЗАТЬ ЗВОНОК