mixin works()
  +b.works
    +e.title
      +e.title-text ВЫПОЛНЯЕМ РАБОТЫ:
    +e.container
      +e.wrapper
        +e.UL.list
          +e.LI.list-item
            +e.P.text ДЕТАЛЬНО-ИНСТРУМЕНТАЛЬНОЕ ОБСЛЕДОВАНИЕ ЗДАНИЙ #[br]И КОНСТРУКЦИЙ
          +e.LI.list-item
            +e.P.text КОМПЛЕКСНОЕ ПРОЕКТИРОВАНИЕ
          +e.LI.list-item
            +e.P.text ОБМЕРНЫЕ РАБОТЫ
          +e.LI.list-item
            +e.P.text ЭКСПЕРТИЗА НА СООТВЕТСТВИЕ ГРАДОСТРОИТЕЛЬНЫМ НОРМАМ

        +e.UL.list
          +e.LI.list-item
            +e.P.text ОЦЕНКА КАЧЕСТВА,#[br] ОБЪЕМА И СТОИМОСТИ#[br] ВЫПОЛНЕННЫХ РАБОТ
          +e.LI.list-item
            +e.P.text ОЦЕНКА СТОИМОСТИ#[br] УСТРАНЕНИЯ ДЕФЕКТОВ
          +e.LI.list-item
            +e.P.text РАЗРАБОТКА И АУДИТ#[br] СМЕТНОЙ ДОКУМЕНТАЦИИ
          +e.LI.list-item
            +e.P.text РАСЧЕТЫ СТРОИТЕЛЬНЫХ#[br] КОНСТРУКЦИЙ