mixin presentation()
  +b.presentation
    +e.title.items__title
      p.items__title-text НАШИ РАБОТЫ

    +e.container
      +e.slider

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide1.jpg")
            +e.column--content
              +e.body
                +e.title МБОУ города Ростова-на-Дону «Гимназия №14»
                +e.text Проведение обследования технического состояния здания МБОУ «Гимназия №14», г. Ростов-на-Дону,ул. 30-я линия, 8 Выполнены обмерные и обследовательские работы
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide2.jpg")
            +e.column--content
              +e.body
                +e.title Многоквартирный жилой дом
                +e.text Детально-инструментадьное обследование объекта: «Многоквартирный жилой дом с
                  |  помещениями общественного назначения, участок № 21 по адресу: г. Ростов-на-Дону, Советский
                  |  район, район «Левенцовский», микрорайон № 6, корпус (6-21)». Этажность 20 этажей,
                  |  обследованная площадь более 15 000 м2
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide4.jpg")
            +e.column--content
              +e.body
                +e.title МБДОУ города Ростова-на-Дону «Детский сад № 8»
                +e.text Выполнение комплекса обследовательских работ для конструкций фундамента здания детского
                  |  сада. Подготовка сметной документации для выполнения работ по устранению выявленных в
                  |  процессе обследования дефектов.
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide3.jpg")
            +e.column--content
              +e.body
                +e.title Дворец Спорта
                +e.text Муниципальное автономное учреждение Аксайского городского поселения «Дворец спорта»
                  |  Оказание услуг по сплошному обследованию объектов: «Физкультурно-оздоровительный
                  |  комплекс»,«Котельная». Общая площадь соответственно 6542,5 кв. м и 128,3 кв.м.
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide6.jpg")
            +e.column--content
              +e.body
                +e.title МБДОУ города Ростова-на-Дону «Детский cад №313»
                +e.text Разработка проектно-сметной документации автоматической пожарной сигнализации здания
                  |  МБДОУ «Детскй сад № 313»
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide7.jpg")
            +e.column--content
              +e.body
                +e.title МБУ ДО «Дворец творчества детей и молодежи»
                +e.text Разработка сметной документации на проектно-изыскательские работы в рамках проведения
                  |  капитального ремонта 2 этажа в здании МБУ ДО ДТДМ г. Ростов-на-Дону, ул. Б. Садовая 55
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide8.jpg")
            +e.column--content
              +e.body
                +e.title Управление Федеральной налоговой службы г.Волгодонска
                +e.text Разработка проектно-сметной документации по капитальному ремонту административного здания ИФНС №4 г. Волгодонска
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide5.jpg")
            +e.column--content
              +e.body
                +e.title МБДОУ города Ростова-на-Дону «Детский сад №287»
                +e.text Разработка проектно-сметной документации на противоаварийные мероприятия для здания
                  |  детского сада, включающие усиление несущих конструкций.
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide9.jpg")
            +e.column--content
              +e.body
                +e.title Управление Федеральной налоговой службы г.Батайска
                +e.text Выполнение работ по разработке проектно-сметной документации по капитальному ремонту
                  |  фасада административного здания Межрайоной ИФНС России №11.
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide10.jpg")
            +e.column--content
              +e.body
                +e.title «Детская городская поликлиника № 45"
                +e.text Услуги по Разработке проектно-сметной документации с прохождением государственной
                  |  экспертизы достоверности сметной стоимости на устройство крытых колясочных для зданий
                  |  поликлиники по адресу: ул. Жукова, ул. Зорге,72/1 в течение 2019 года (ОКПД 2: 71.12.19.100)
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ

        +e.slide
          +e.wrapper
            +e.column
              +e.IMG(src="../assets/images/slide11.jpg")
            +e.column--content
              +e.body
                +e.title Детально-инструментальное обследования
                +e.text Выполнение детально-инструментального обследования комплекса жилых домов со
                  |  встроенными помещениями общественного назначения и подземной автостоянкой (два 18-ти
                  |  этажных жилых дома) в г. Аксай, ул. Менделеева 53 общей площадью более 25 000 м2.
              +e.btn-wrap
                button.btn-slide ПОДРОБНЕЕ
                button.btn-slide ЗАКАЗАТЬ ПРОЕКТ
