mixin info()
  +b.info
    +e.title-block
      +e.P.title ЧТО ВЫ ПОЛУЧАЕТЕ, ОБРАТИВШИСЬ #[br] В "СТРОЙЭКСПЕРТ" ?
    +e.body
      +e.container
        +e.wrapper
          +e.UL.list
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-1.png").img
              +e.P.text РЕЗУЛЬТАТЫ НЕРАЗРУШАЮЩЕГО КОНТРОЛЯ ПРОЧНОСТИ МАТЕРИАЛОВ
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-2.png").img
              +e.P.text РЕКОМЕНДАЦИИ ПО УСИЛЕНИЮ ИЛИ УСТРАНЕНИЮ НЕДОСТАТКОВ
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-3.png").img
              +e.P.text ОБМЕРНЫЕ ЧЕРТЕЖИ С КАРТОГРАММАМИ ДЕФЕКТОВ
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-4.png").img
              +e.P.text ПРОТОКОЛЫ ПОВЕРОЧНЫХ РАСЧЕТОВ КОНСТРУКЦИЙ С УЧЕТОМ ВЛИЯНИЯ ДЕФЕКТОВ И РЕАЛЬНЫХ НАГРУЗОК СХЕМЫ

          +e.UL.list
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-5.png").img
              +e.P.text ДЕФЕКТНЫЕ ВЕДОМОСТИ
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-6.png").img
              +e.P.text ПРОТОКОЛЫ ИСПЫТАНИЙ ЛЮБЫХ СТРОИТЕЛЬНЫХ МАТЕРИАЛОВ
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-7.png").img
              +e.P.text СМЕТНЫЕ РАСЧЕТЫ
            +e.LI.list-item
              +e.IMG(src="../assets/images/list-icon-8.png").img
              +e.P.text ИСПОЛНИТЕЛЬНЫЕ ГЕОДЕЗИЧЕСКИЕ СХЕМЫ

  +b.steps
    +e.container
      +e.wrapper
        +e.list-block
          +e.list-title
            +e.P.list-title-text К НАМ ОБРАЩАЮТСЯ ЕСЛИ
          +e.UL.list
            +e.LI.list-item
              +e.P.item-title ОТСУТСТВУЮТ ИСХОДНЫЕ ДАННЫЕ
              +e.P.item-text для выполнения проектных работ по реконструкции, усилению, перестройке объекта капитального строительства
            +e.LI.list-item
              +e.P.item-title ЕСТЬ НЕОБХОДИМОСТЬ НЕЗАВИСИМОЙ ОЦЕНКИ
              +e.P.item-text физико-механических характеристик характеристик примененных материалов и несущей способности и их соответствие
            +e.LI.list-item
              +e.P.item-title ОТСУТСТВУЮТ ДАННЫЕ
              +e.P.item-text о фактическом техническом состоянии конструкций и их геометрических параметрах
            +e.LI.list-item
              +e.P.item-title ЕСТЬ НЕОБХОДИМОСТЬ НЕЗАВИСИМОЙ ОЦЕНКИ КАЧЕСТВА
              +e.P.item-text выполненных строительно-монтажных работ и их стоимости, а так же стоимости устранения выявленных дефектов
            +e.LI.list-item
              +e.P.item-title НУЖНА ОЦЕНКА СООТВЕТСТВИЯ ЗДАНИЯ/СООРУЖЕНИЯ
              +e.P.item-text градостроительным нормам, а также строительно- техническая экспертизы

        +e.list-block
          +e.list-title
            +e.P.list-title-text С НАМИ ЛЕГКО!
          +e.UL.list
            +e.LI.list-item
              +e.P.item-title ШАГ №1.
              +e.P.item-text Свяжитесь с нами любым удобным способом ( заявка на сайте, звонок, личный визит) и озвучьте задачу, либо опишите ситуацию, в которой вам понадобилась помощь
            +e.LI.list-item
              +e.P.item-title ШАГ №2.
              +e.P.item-text Опишите объект, и представьте нам макси- мально известную Вам информацию о его характеристиках
            +e.LI.list-item
              +e.P.item-title ШАГ №3.
              +e.P.item-text Мы готовим для Вас коммерческое предло- жение и техническое задание, не позднее 1 рабочего дня с момента нашей беседы, после согласования ТЗ и стоимости мы приступаем к работе!

