mixin main()
  .svg-sprite
    include ../sprite/svg.svg
  +b.main
   +e.container
    +e.content
      +e.head
        +e.H1.title ОБСЛЕДОВАНИЕ ЗДАНИЙ И СТРОИТЕЛЬНО-ТЕХНИЧЕСКИЯ ЭКСПЕРТИЗА
      +e.body
        +e.block
          +e.P.block-title 104 года
          +e.P.block-text Сумарный опыт экспертов
        +e.block
          +e.P.block-title 96
          +e.P.block-text Объектов за #[br]текущий год
        +e.block
          +e.P.block-title 436 000 м²
          +e.P.block-text Обследовано #[br]площади
        +e.block
          +e.P.block-title от 3 дней
          +e.P.block-text Средний срок #[br]подготовки отчетов
      +e.footer
        +e.tips
          +e.P.tips-text Работаем по ЮФО
        +e.tips
          +e.P.tips-text Выезд на объект в день обращения
        +e.tips
          +e.P.tips-text Адекватные цены
